html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(222, 232, 233);
    font-family: 'Roboto', sans-serif;
}

header{
    box-sizing: border-box;
        padding: 10px;
    
        position: relative;
        top: 0;
        width: 100%;
        background-color: cadetblue;
        padding-bottom: 80px;
    }
body{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.meta-wrapper{
    display: flex;
    border: 1px solid orange;
    border-radius: 10px;
    justify-content: space-evenly;
    background-color: white;
}

.textpart{
color:rgb(168, 38, 151);
}